<!--
  TODO MINOR: Enhancement of Image displaying
-->
<div class="grid">
  <div ng-if="vm.content.image.length" class="card-image" ng-repeat="url in ::vm.content.image track by $index" ng-init="$last && vm.content.masonryInit ? vm.refreshInit() : angular.noop()">
    <div class="progress" ng-if="!vm.hideProgress">
      <div class="indeterminate"></div>
    </div>
    <img materialboxed class="materialboxed" ng-src="{{::url}}" class="grid-img"></img>
  </div>

<!--
  <div class="slider" ng-if="vm.content.image">
    <ul class="slides" slider imgs="vm.content.image">
        <li ng-repeat="url in vm.content.image track by $index" style="z-index:{{$index}}">
            <img materialboxed class="materialboxed" ng-src="{{::url}}" style="background-image:url('{{::url}}')"> </img>
        </li>
    </ul>
 </div>
 -->
  <div class="card-content white-text">
    <span ng-if="vm.content.title" class="card-title">
      <span>{{::vm.content.title}}</span>
    </span>
    <div>
    <pre>{{::vm.content.text}}</pre>
  </div>
    <div class="left-align" ng-class="vm.content.featured? 'yellow-text' : 'white-text'">
      <span>{{::vm.timeMessage}}</span>
    </div>
    <div class="yellow-text right-align" ng-if="vm.content.featured">
      ★Featured
    </div>
  </div>
</div>
