<!--
  TODO: Divide this sub-nav into several independent directives
  TODO: UI Enhancement
  TODO: Refractor
-->
<div>
  <div class="card z-depth-2 date-nav">
    <div class="container">
    <div class="row" style="margin-bottom:0px">
    <div class="col s11">
    <ul class="tabs container" tabs>
      <li class="tab" ng-repeat="month in vm.months" ng-click="vm.displayMonth(month)">
        <a class="clickable {{vm.monthSelected === month ? 'active' : ''}}">{{::vm.getNavDateLabel(month)}}</a>
      </li>
    </ul>
  </div>
    <div class="col s1" style="padding:6px" ng-click="vm.displaySettings = ! vm.displaySettings">
      <a class="btn-flat">SETTINGS</a>
    </div>
  </div>

    <div ng-if="vm.displaySettings" class="switch card-action row">
      <label>
        Featured Only
        <input type="checkbox" ng-click="vm.toggleFeatured()" ng-model="vm.featuredOnly">
        <span class="lever"></span>
      </label>

      <label>
        Hide Selfie(Dange!)
        <input type="checkbox" ng-click="vm.toggleWeired()" ng-model="vm.safeOnly">
        <span class="lever"></span>
      </label>
    </div>

  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light red" ng-click="vm.scrollTop()">TOP</a>
  </div>
</div>
</div>
