<div>
  <!--
  <div class="card-panel pink lighten-2">
     <span class="white-text">This Section Is Currently Under Development</span>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title pink-text" style="margin-left:0px">Compose A New Beat</span>
      <textarea id="new-beat" ng-model="vm.newBeat.text" placeholder="Contents goes here" class="materialize-textarea" style="min-height:4rem;position:relative"/>
    </div>
    <div class="card-action">
      <div class="left">
        <input type="checkbox" ng-model="vm.newBeat.featured" class="filled-in" id="feature-box" checked="checked" />
        <label for="feature-box">Featured</label>
        <input type="checkbox" ng-model="vm.newBeat.safe" class="filled-in" id="safe-box" checked="checked" />
        <label for="safe-box">Selfie</label>
      </div>
      <div class="right">
        <a class="clickable">Upload Images</a>
        <a class="clickable" ng-click="vm.submitBeat()">Submit</a>
        <label class="right" style="padding-top:-20px" for="new-beat"><span>{{vm.newBeat.text.length}} Words in total</span></label>
      </div>
      &nbsp;
    </div>
  </div>
-->
  <div class="card">
    <div class="row card-content">
    <div class="col s6">
        <input ng-model="vm.newTopic.title" class="card-title pink-text" style="margin-left:0px" />
        <textarea id="new-content-brief" ng-model="vm.newTopic.summary" placeholder="Summary goes here" class="materialize-textarea" style="min-height:3rem;position:relative"/>
        <input id="new-content-thumb" ng-model="vm.newTopic.thumbnail" placeholder="Thumb goes here" class="materialize-textarea" style="position:relative"/>

        <textarea id="new-topic" ng-model="vm.newTopic.content" placeholder="Contents goes here"
                                        class="materialize-textarea left" style="min-height:30rem;position:relative"/>
    </div>
    <div class="col s6">
      <span class="card-title pink-text" style="margin-left:0px">{{vm.newTopic.title}}</span>
      <div markdown-to-html="vm.newTopic.content"></div>
    </div>

  </div>
      <div class="card-action">
        <div class="left">
          <input type="checkbox" ng-model="vm.newTopic.featured" class="filled-in" id="topic-feature-box" checked="checked" />
          <label for="topic-feature-box">Featured</label>
        </div>
        <div flow-init
             flow-files-submitted="vm.upload( $files, $event, $flow )"
             flow-file-success="$file.msg = $message"
             class="right">
          <span class="clickable" flow-btn><a>Upload Images</a></span>
          <a class="clickable" ng-click="vm.submitTopic()">Submit</a>
          <label class="right" style="padding-top:-20px" for="new-topic"><span>{{vm.newTopic.content.length}} Words in total</span></label>
        </div>
        &nbsp;
      </div>
  </div>
</div>
