<div class="container">
    <div class="card">
        <div class="card-content">
            <span class="card-title pink-text" style="margin-left:0px">Login Or Register(Let's Guess wwwwww)</span>
            <input ng-model="vm.userLogin.username" />
            <input ng-model="vm.userLogin.password" />

        </div>
        <div class="card-action">
            <div class="right">
                <a class="clickable" ng-click="vm.loginOrReg()">Submit</a>
            </div>
            &nbsp;
        </div>
    </div>

    <div class="btn" ng-click="vm.evict()">Cache Evict</div>
</div>
