<div class="row">
  <div class="wrapper-date-nav" pushpin pushpin-top="64">
    <jc-sub-nav
      jc-sections="vm.tabs"
      jc-active="vm.currentSelectedTab"
      jc-settings="vm.jcSubNavSettings">
    </jc-sub-nav>
  </div>
  <div ng-class="vm.customRefreshEnabled? 'col s8' : 'col s12'">
    <jc-masonry-cards
      jc-custom-refresh="vm.pushBeatsPaginated"
      jc-custom-refresh-enabled="vm.customRefreshEnabled"
      jc-init-num="15"
      jc-refresh-num="6"
      jc-data="vm.selectedBeats.beats">
    </jc-masonry-cards>
  </div>
  <div class="wrapper-topic-list col s4" style="width: 31.5%;padding: 0" ng-if="vm.customRefreshEnabled">
    <div class="wrapper-topic-list-elem" pushpin pushpin-top="64" pushpin-bottom="Infinity">
      <jc-topic-list
            flex-xs flex-gt-xs="50"
            jc-topics="vm.topicList"
            jc-topic-brief="true"
      >
      </jc-topic-list>
    </div>
  </div>
  <!-- FAB -->
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light red" ng-click="vm.scrollTop()">TOP</a>
  </div>
</div>
