<div class="row" style="margin-bottom:0px;margin-right:10px">
  <div class="col s10 l10 m10">
    <ul class="tabs container" tabs>
      <li class="tab" ng-repeat="tab in vm.tabs" ng-click="vm.displaySection(tab)">
        <a class="clickable {{vm.active.title === tab.title ? 'active' : ''}}">{{::tab.title}}</a>
      </li>
    </ul>
  </div>
  <!--
    TODO MINOR : Reconsider how to order this element and its padding
  -->
  <div class="col s2 l2 m2 right" style="padding-top:6px" ng-click="vm.displaySettings = ! vm.displaySettings">
    <a class="btn-flat">SETTINGS</a>
  </div>
</div>
