<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left clickable">
        {{::vm.appTitle}}
      </a>
      <a class="button-collapse right clickable" data-activates="nav-mobile" data-sidenav="right" data-menuwidth="300" data-closeonclick="true">
        Menu
      </a>
      <!-- Desktop -->
      <ul class="right hide-on-med-and-down">
        <li class="right" ng-repeat="nav in vm.navs">
          <a class="clickable" ng-click="vm.gotoState(nav.state)">{{::nav.title}}
          </a>
        </li>
      </ul>
      <!-- Mobile Optimize -->
      <ul id="nav-mobile" class="side-nav">
        <li ng-repeat="nav in vm.navs">
          <a class="clickable" ng-click="vm.gotoState(nav.state)">{{::nav.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
