.date-nav .btn-flat{
  padding: 0 0.6rem;
}
.date-nav{
  margin: 0 !important;
}
.wrapper-date-nav{
  position:relative !important;
  z-index: 2;
  width: 100%
}

img{
    width: 100%;
}

img.link{
    width:90px;
    height:90px !important;
}
.card-action{
    border-top:1px solid rgba(255,255,255,0.2) !important;
}
div.wrapper-topic-list-elem.pinned{
    top:48px !important;
    width:inherit; !important;
}
.wrapper-topic-list{
    position:relative !important;
    z-index: 1;
}

.slider .slides li{
  position:absolute !important;

  z-index:auto !important;

}
pre{
  white-space: pre-wrap;
  word-wrap: break-word;
}
.slider .slides li.active{
  position:absolute !important;

  z-index:auto !important;

}
.slider .slides li img{
  position : absolute;
  top : 0;
}

#materialbox-overlay{
  z-index:999 !important;

}
.grid {
    list-style: none;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.progress.img-loaded{
  visibility: hidden !important;
  height : 0px;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

.clickable {
  cursor: pointer;
}

.angular-grid-item .card {
  position : inherit !important;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

.progress {
  margin : 0 !important;
}
.card p{
  font-size : 17px !important;
  margin-bottom: 10px !important;
}
.card .card-image{
  position : inherit !important
}
.card .card-image img{
  position : inherit !important
}
.grid .card-title{
  margin-left:0px;
}
.nav-fab {
  bottom : 45px;
}

.material-placeholder{
  height : 100%;
}
.card-title {
  margin-left : 10px ;
}
.card-action label{
  margin-right : 20px;
}
